<!--
  * @Date: 2022-09-26 16:56:59
  * @LastEditTime: 2022-09-27 10:01:54
  * @Author: WangYongJie
  * @Work-email: wangyongjie2@gome.com.cn
  * @Private-email: admin@xiaodongxier.com
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>vue简单测试</title>
   <script src="https://cdn.xiaodongxier.com/static/js/vue/2.5.2/vue.js"></script>  
 </head>
 <body>
   <div id="app" v-bind:title="time">
     {{message}}
     <h1 v-if="show">{{message}}</h1>
     <ul>
       <li v-for="item in list">
         {{item.name}},{{item.age}}
       </li>
     </ul>
   </div>
   <script>
     var app = new Vue({
       el: "#app",
       data: {
         message: "hello word",
         time: new Date().toLocaleString(),
         show: false  ,
         list: [
           {
             name:"zhangsan",
             age: 1,
           },
           {
             name: "wanger",
             age: 2,
           },
           {
             name: "lisi",
             age: 3
           }
         ]
       }
     })
   </script>
 </body>
 </html>